<p>Hello,

<p>
Here is your token to verify your email address:<br/>
<a href="{{ link }}">{{ token }}</a>
</p>
<p> Or copy/paste it:  
  <code>{{link}}</code>
</p>

<p>
{{ appName }}
</p>

<hr />
<p> This email was sent to {{ to }} following a login request to {{ appName }}
If you didn't try to subscribe to our service, please ignore this email. 
We are sorry for this.
</p>