	{{#if status}}
<span class="status {{type}}-{{status}} {{status}}">
	{{#if @partial-block}}
		{{> @partial-block }}
	{{else}}
		{{status}} 
	{{/if}}
</span>
	{{else}}
<span class="status active">
	{{#if @partial-block}}
		{{> @partial-block }}
	{{else}}
		active
	{{/if}}
</span>
	{{/if}}
