<form method="post">
	<p>
		<label for="displayname">{{ __ 'Display Name' }}</label>
		<input type="text" id="displayName" name="displayName" value="{{user.displayName}}"/>
	</p>
	<p>
		<label for="locale">{{ __ 'Language' }}</label>
		<select id="locale" name="locale">
			{{#each config.locales}}
				<option value="{{@key}}" {{{selected @root.user.locale @key}}}>{{this}}</option>
			{{/each}}
		</select>
	</p>
	<p>
		<label for="timezone">{{ __ 'Timezone' }}</label>
		{{!-- TODO autocomplete instead of select --}}
		<select id="timezone" name="timezone">
			{{#each timezones}}
			<option value="{{this.tzCode}}" {{{selected @root.user.tz this.tzCode}}} >{{this.label}}</option>
			{{/each}}
		</select>
	</p>
	<p><button type="submit">{{ __ 'Update' }}</button></p>
</form>

<pre>
{{ debug user }}
</pre>
