<form method="post">
  <h2>{{ __ 'tag.form.title' }}</h2>
  <fieldset>
    <p>
      <label for="name">{{ __ 'tag.form.name' }}</label>
      <input name="name" id="name" type="text" />
    </p>
  </fieldset>
  <fieldset>
    <legend>{{ __ 'tag.form.owner.section' }}</legend>
    <p>
      <label for="email">{{ __ 'tag.form.owner.email' }}</label>
      <input name="email" id="email" type="email" value="{{ session.email }}"/>
    </p>
    <p>{{ __ 'tag.form.owner.help' }}</p>
  </fieldset>
  <fieldset>
    <legend>{{ __ 'tag.form.finder.section' }}</legend>
    <p>
      <label for="responseText">
        {{ __ 'tag.form.finder.responseText' }}
        {{!-- <small class="help">
          <a href={{ __ 'tag.form.finder.responseText.helpUrl' }} target="markdown-help">
            {{ __ 'tag.form.finder.responseText.help' }}</a>
        </small> --}}
      </label>
      <textarea name="responseText" id="responseText"></textarea>
    </p>
    <p>{{ __ 'tag.form.finder.help' }}</p>
    {{!-- <p><label for="lang">{{ __ 'tag.form.finder.lang' }}</label>
      <select>
        <option>en</option>
        <option value="__other__">{{ __ 'tag.form.lang.other'}}</option>
      </select>
    </p> --}}
  </fieldset>
  <p class="actions"><button type="submit">{{ __ 'tag.form.submit' }}</button></p>
</form>

{{!-- TODO: Markdown help and preview --}}