<h2>{{ __ 'Tag %s found'  discovery.tag._id}}</h2>
{{#if isTagOwner}}
	<p>
	{{ __ 'Tag Label' }}: {{ discovery.tag.label }}<br />
	{{ __ 'Status' }}: {{ discovery.status }}
	</p>
	{{#each (reverse discovery.states) }}
	 {{#if @first}}<ul>{{/if}}
		<li>
		{{ __loc @root.locale this.status }} : {{ dateFormat this.updatedAt 'DD/MM/YY hh:mm'}}
		</li>
	{{#if @last}}</ul>{{/if}}
	{{/each}}
{{/if}}
