{{#>layout title=(__ 'Preview instructions')}}

{{> discoverySummary }}

{{#if discovery._id}}
<form method="post">
{{#if (and isFinder (eq discovery.status 'active'))}}
	<button type="submit" value="return" name="action">{{ __ 'I have returned this item'}}</button>
{{/if}}
{{#if isTagOwner}}
	<button type="submit" value="close" name="action">{{ __ 'I have received this item'}}</button>
{{/if}}
</form>
{{/if}}

<h2>{{ __ "Instructions"}}</h2>
<pre>
{{ discovery.instructions.body }}
</pre>

<h3>{{ __ 'Tag info' }}</h3>
<dl>
	<dt>
		{{ __ 'Tag' }}
	</dt>
	<dd>{{ discovery.tag._id }}</dd>
	<dt>{{ __ 'Date' }}</dt>
	<dd>{{ dateFormat discovery.createdAt 'DD/MM/YY hh:mm'}}</dd>
</dl>

{{/layout}}