{{#>layout title=(__ 'Preview instructions')}}

{{> discoverySummary }}

{{#if discovery._id}}
<form method="post">
{{#if (and isFinder (eq discovery.status 'active'))}}
	<button type="submit" value="return" name="action">{{ __ 'I have returned this item'}}</button>
{{/if}}
{{#if isTagOwner}}
	<button type="submit" value="close" name="action">{{ __ 'I have received this item'}}</button>
{{/if}}
	<button type="submit" value="mute" name="action">{{#if isMuted }}{{ __ 'Unmute this'}}{{else}}{{ __ 'Mute this'}}{{/if}}</button>
</form>
{{/if}}

<h2>{{ __ "Instructions"}}</h2>
<pre>
{{ discovery.instructions.body }}
</pre>

{{#if  (not isMuted)}}
<a href="mailto:tag-{{discovery._id}}@{{config.DOMAIN}}"><button>{{ __ 'Ask a question by email'}}</button></a>
{{#if discovery.messages}}
<ul>
{{#each (reverse discovery.messages) }}{{#with this}}
<li>
		{{ __ 'From:'}} {{ from }} ({{dateFormat sentAt 'l LTS'}})<br />
		{{ __ 'Subject:'}} {{ subject }}<br />
	<blockquote>
<pre>{{ content }}</pre>
	</blockquote>
</li>
{{/with}}{{/each}}
</ul>
{{/if}}
{{/if}}

<h3>{{ __ 'Tag info' }}</h3>
<dl>
	<dt>
		{{ __ 'Tag' }}
	</dt>
	<dd>{{ discovery.tag._id }}</dd>
	<dt>{{ __ 'Date' }}</dt>
	<dd>{{ dateFormat discovery.createdAt 'DD/MM/YY hh:mm'}}</dd>
</dl>

{{/layout}}