{{> discoverySummary }}

<h2>{{ __ "Instructions"}}</h2>
<form method="post">
{{#if (and isFinder (eq discovery.status 'active'))}}
	<button type="submit" value="return" name="action">{{ __ 'I have returned this item'}}</button>
{{/if}}
{{#if isTagOwner}}
	<button type="submit" value="close" name="action">{{ __ 'I have received this item'}}</button>
{{/if}}
</form>

<pre>
{{ discovery.tag.responseText }}
</pre>

<h3>{{ __ 'Tag info' }}</h3>
<dl>
	<dt>
		{{ __ 'Tag' }}
	</dt>
	<dd>{{ discovery.tag._id }}</dd>
	<dt>{{ __ 'Date' }}</dt>
	<dd>{{ dateFormat discovery.createdAt 'DD/MM/YY hh:mm'}}</dd>
</dl>
