
<p><a href="?create=1"><button>{{ __ 'Create a Tag' }}</button></a></p>
{{#if tags}}
<table class="listing">
  <thead>
    <tr>
      <th>{{ __ 'Tag Id' }}</th>
      <th>{{ __ 'Tag Name' }}</th>
      <th>{{ __ 'Status' }}</th>
      <th>{{ __ 'Notification Email' }}</th>
      <th>{{ __ 'QR Code'}}</th>
      <th>{{ __ 'Action' }}</th>
    </tr>
  </thead>
  <tbody>
    {{#each tags}}
    {{#with this}}
    <tr>
      <td><a href="/tags/{{_id}}">{{_id}}</a></td>
      <td>{{name}}</td>
      <td>{{#if status}}{{status}}{{else}}active{{/if}}</td>
      <td>{{#if email }}{{ email }}{{ else }}{{ @root.session.email }}*{{/if}}</td>
      <td><a href="/code/svg/{{_id}}" download="tag-{{_id}}.svg"><img src="/code/svg/{{_id}}" /></a></td>
      <td>
        {{!-- <a href="/print/add?tagId={{_id}}"><img src="/public/icons/grid.svg" title="{{ __ 'Add to Print' }}" /></a> --}}
        <a href="/tags/{{ _id }}?edit=1"><img src="/public/icons/edit.svg" title="{{ __ 'Edit ?' }}" /></a>
        {{!-- <a href="/tags/{{ _id }}/archive"><img src="/public/icons/trash-2.svg" title="{{ __ 'Archive' }}" /></a> --}}
      </td>
    </tr>
    {{/with}}
    {{/each}}
  </tbody>
</table>
{{else}}
<p>{{ __ 'You have no tag yet!'}}</p>
{{/if}}
<p><a href="?create=1"><button>{{ __ 'Create a Tag' }}</button></a></p>
