<h1>{{ __ 'New Tag' }}</h1>
<p>{{ __ 'You found a new tag, would you like to make it yours?' }}</p>
{{#if session.user_id }}
<form method="post" action="/t/{{tag._id}}/active">
	<button type="submit" value="add" name="action">{{ __ 'Add'}}</button>
</form>
{{else}}
{{#> loginForm }}{{/loginForm}}
{{/if}}