{{#if session.isAdmin}}
<ul class="tabmenu">
	<li><a href="/admin/user" class="{{users}}">{{ __ 'Users' }}</a></li>
	<li><a href="/admin/messages" class="{{messages}}">{{ __ 'Messages Queue' }}</a></li>
	<li><a href="/admin/print/batch">{{ __ 'Batch Print' }}</a></li>
	<li><a href="/admin/print/batch/advanced">{{ __ 'New advanced batch' }}</a></li>
	<li><a href="/admin/jobs">{{ __ 'Jobs'}}</a></li>
	<li><a href="/admin/config">{{ __ 'Config' }}</a></li>
</ul>
{{/if}}