
<table>
  <thead>
    <tr>
      <th>{{ __ 'User id'}}</th>
      <th>{{ __ 'email' }}</th>
      <th>{{ __ 'Status' }}</th>
      <th>{{ __ 'Created At' }}</th>
      <th>{{ __ 'Last Login' }}</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    {{#with this}}
    <tr>
      <td>{{ _id }}</td>
      <td>{{ email }}</td>
      <td>{{ status }}</td>
      <td>{{ dateFormat createdAt 'l LTS' }}</td>
      <td>{{ dateFormat lastLogin 'l LTS'  }}</td>
      <td>
      </td>
    </tr>
    {{/with}}
    {{/each}}
  </tbody>
</table>