{{> adminMenu }}
<table class="listing">
	<thead>
		<tr>
			<th>{{ __ 'Type' }}</th>
			<th>{{ __ 'Status' }}</th>
			<th>{{ __ 'Pages' }}</th>
			<th>{{ __ 'Template' }}</th>
			<th>{{ __ 'Action' }}</th></tyh>
		</tr>
	</thead>
	<tbody>
		{{#each batches as | batch | }}
		<tr>
			<td>{{ batch.type }}</td>
			<td>{{> status status=batch.status}}</td>
			<td>{{ __ batch.pageCount }}</td>
			<td>{{#with (lookup @root/templates [pageFormat])~}}{{name}}{{/with}}</td>
			<td>
				<a href="/public/pdf/{{ batch._id }}.pdf"><img src="/public/icons/download.svg" title="{{ __ 'Download PDF' }}" /></a>
				{{#if (eq batch.status 'locked')}}
				<a href="/admin/print/batch/{{ batch._id }}"><img src="/public/icons/grid.svg" title="{{ __ 'View' }}" /></a>
				{{else}}
				<a href="/admin/print/batch/{{ batch._id }}"><img src="/public/icons/edit.svg" title="{{ __ 'Edit' }}" /></a>
				{{/if}}
				</td>
		</tr>
		{{/each}}
	</tbody>
</table>