{{> adminMenu }}
{{#if (eq batch.status 'locked') }}
<p>
	{{ __ 'Batch ID: %s (%s pages)' batch._id batch.pageCount }}<br />
	{{#with (lookup @root.templates batch.pageFormat) }} {{name}} {{/with}}
</p>
{{else}}
<p>Generate a page filled with new tag labels to download and print</p>
<form method="post">
	<fieldset>
	{{!-- <input type="hidden" readonly value="{{batchId}}" name="batchId" /> --}}
 	<legend>{{ __ 'Print format' }}</legend>
	<p>
		<label for="selectedTemplate">{{ __ 'Template' }}</label>
		<select name="pageFormat" id="selectedTemplate">
			{{#each templates}}
			<option value="{{@key}}" 
				{{#if (eq @key @root.batch.pageFormat)}} selected="selected"{{/if}}>
				{{this.name}}
			</option>
			{{/each}}
		</select>
	</p>
	<p><label for="skip">{{ __ 'number of labels to skip (when reusing a sheet)' }}</label>
		<input type="number" value="{{batch.skip}}" name="skip" id="skip"/>
	</p>
	{{#if (eq batch.type 'new-tags')}}
	<p>
		<label for="qty">{{ __ 'Page count'}}</label>
		<input type="number" name="pageCount" value="{{batch.pageCount}}"/>
	</p>
	<p>
		<label for="label"><input type="checkbox" id="withlabel" name="withlabel" value="1" {{#if batch.withlabel}}checked{{/if}}  /> {{ __ 'Add label on each tags'}} </label>
		<input type="text" id="label" name="label" maxlength="8" value="{{batch.tagTemplate.label}}"/>
		{{!-- <small>{{ __ 'You can include a # symbol to add an increment after or in the label. Ex: "label #" will get you "label 1", "label 2"...' }}</small> --}}
	</p>
	{{/if}}
	</fieldset>
	<p>
	<button type="submit" name="status" value="new">{{ __ "Generate PDF and preview"}}</button>
	<button type="submit" name="status" value="locked">{{ __ "Generate PDF and save"}}</button>
	</p>
</form>
<pre>{{ debug batch }}</pre>
{{/if}}
{{#if currentPdf}}
<p><a href="/public/pdf/{{currentPdf}}.pdf">
	<button>
	{{ __ 'Download' }}
	</button>
</a></p>
<iframe class="pdfpreview" src="/public/pdf/{{currentPdf}}.pdf"></iframe>
{{/if}}
