
	{{#each data}}
	{{#if @first}}
<form method="get">
	<h2>{{ __ 'Print format' }}</h2>
	<p>
		<label for="tempalte">{{ __ 'Template' }}</label>
		<select name="template" id="tempalte">
			{{#each templates}}
			<option value="{{@key}}">{{this.name}}</option>
			{{/each}}
		</select>
	</p>
	<p><label for="skip">{{ __ 'number of labels to skip (when reusing a sheet)' }}</label>
		<input type="number" value="{{skip}}" name="skip" id="skip"/>
	</p>
	<h2>{{ __ 'Number of copies per tag' }}</h2>

	{{/if}}
	{{#with this}}
	<p class="inline">
		<label for="qty[{{_id}}]">{{name}} / {{_id}}: </label>
		<input type="number" id="qty[{{_id}}]" name="qty[{{_id}}]" value="{{ qty }}" />
	</p>
		{{#if label}}
	<p class="inline">
		<input type="checkbox" id="printlabel[{{_id}}]" name="printlabel[{{_id}}]" value="1" {{#if printlabel}}checked{{/if}}  />
		<label for="printlabel[{{_id}}]">{{ __ 'Print label: '}} {{label}} </label>
	</p>
		{{/if}}
	{{/with}}
	{{#if @last}}
	<p>
	<button type="submit">{{ __ "Generate"}}</button>
	</p>
</form>
	{{/if}}
	{{else}}
	<p><a href="/tags">{{ __ "Create new tags before printing them" }}</a></p>
	{{/each}}
{{#if currentPdf}}
<p><a href="/public/pdf/{{currentPdf}}.pdf">Download</a></p>
<iframe class="pdfpreview" src="/public/pdf/{{currentPdf}}.pdf"></iframe>
{{/if}}

